<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cms">
            <group id="wysiwyg">
                <field id="toolbar"
                       translate="label"
                       type="multiselect"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>Toolbar Elements</label>
                    <source_model>IntegerNet\ConfigurableWysiwyg\Model\Config\Source\Toolbar</source_model>
                </field>
                <field id="add_variable"
                       translate="label"
                       type="select"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>Show "Insert Variable" button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="add_widget"
                       translate="label"
                       type="select"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>Show "Insert Widget" button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="add_image"
                       translate="label"
                       type="select"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>Show "Insert Image" button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
